<!DOCTYPE html>
<html lang="en" dir="ltr">
  

<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
</head>

<body>
  <%- include LayOut %>
    <div class="container">
      <h2 align="center">เขียนบทความ</h2>
      <% if(locals.errors) { %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach(function(error){ %>
            <li><%= error.msg %></li> 
        <% }) %>
      </ul>
      <% } %>
      <form class="" action="/blog/add" method="post">
        <div class="from-group mb-3">
          <label for="">ชื่อบทความ</label>
          <input type="text" name="name" value="" class="form-control">
        </div>
        <div class="from-group mb-3">
          <label for="">รายละเอียด</label>
          <textarea  id="editor"name="description" rows="8" cols="80" class="form-control" size="20"></textarea>
        </div>
        <div class="from-group mb-3">
          <label for="">ชื่อผู้แต่ง</label>
          <input type="text" name="author" value="" class="form-control">
        </div>
        <input type="submit" name="" value="save" class="btn btn-primary">
        <a type="button" href="/" class="btn btn-primary">หน้าแรก</a>
      </form>
    </div>
    <script>
      ClassicEditor
          .create( document.querySelector( '#editor' ) )
          .catch( error => {
              console.error( error );
          } );
    </script>
  
</body>

</html>