<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
        <%- include LayOut%>
            <div.class="container">
                <h2>Welcome to my blog</h2>
                <h2>บทความ บริการซ่อมที่ผ่านการรับรองจาก</h2>
                <a href="/blog/add">เพิ่มบทความ</a>
                <a href="/">หนัาหลัก</a>
            </div>
  </body>
</html>
