<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include LayOut%>
      <div.class="container">
        <p>Welcome to index</p>
        <h2>Sapharat Test</h2>
        <a href="/blog">อ่านบทความ</a>
      </div>
  </body>
</html>
