<!DOCTYPE html>
<htm lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title></title>
  </head>
  <body>
    <%- include LayOut%>
      <div.class="container">
        <h2>Welcome to Product Stock</h2>
        <a href="/">Back</a>
      </div>
  </body>
</htm>